html {
    background-color: #424242;
    color: #ff2525;
}

* {
    text-decoration: none !important;
}

#root {
    background-color: #424242;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(31, 31, 31);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 31, 31);
}
